<html>
<head>
<h1>Welcome to the art display</h1>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='hover.css') }}">
<style>
table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
</style>
</head>

<body style="background-color:#B19CD9;">
<p>Hope you find something you love ^^</p>

<a href="{{ url_for ('artworkcreate') }}">Add your Artwork</a>
<div class="svg-wrapper">
  <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
    <rect class="shape" height="60" width="320" />
  </svg>
   <div class="text">Artwork Details</div>
</div>
</br></br>
<table border=5>
    <tr>
        <th> Title </th>
        <th> Artist </th>
        <th> Genre </th>
        <th> Year </th>
        <th> Image </th>
        <th> Edit </th>
        <th> Delete </th>
        <th> Like </th>

    </tr>

    {% for item in art %}
    <tr>
        <td> {{item.1}} </td>
        <td> {{item.2}} </td>
        <td> {{item.3}} </td>
        <td> {{item.4}} </td>
        <td> <img src="{{item.5}}" alt="image" width="320" height="240"> </td>
        <td> <a href="{{ url_for ('artworkupdate', pk=item.0) }}">Update</a> </td>
        <td> <a href="{{ url_for ('artworkdelete', pk=item.0) }}">Delete</a> </td>
        <td> <a href="{{ url_for ('like', pk=item.0) }}">Like</a> </td>
    </tr>
    {% endfor %}

</body>
</html>    