{% extends "base.html" %} {% block body %}
<html>
<head>
<meta charset="UTF-8"  name="viewport" content="width=device-width, initial-scale=1"> <!--for adding emojis-->
<style>
body {
  background: #ffd1dc;
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}
</style>
</head>

<body style="background-color:rgb(172, 205, 207);">
<div class="content">
<!-- <form action="{{ url_for ('createArtworkTable') }}" method="POST">
    <button name="createdb" type="submit" class="button1" href="{{ url_for('static',filename='button.css') }}">Create Art table in Database</button>
</form> -->

<form action="{{ url_for ('artworkcreate', id=pk) }}" method="POST" enctype="multipart/form-data">
    <h3>Enter your Artwork's Details: </h3>
    Title &#127991;&#65039; <br><input type="text" name="title" /></br>

    <br>

    <label for="genre">Choose a genre for your artwork:</label>
    <select name="genre">
      {% for g in genrenameslist %}
      <option value="{{g.0}}">{{g.0}}</option>
      {% endfor %}
    </select>
    
    <br><br>
    Year &#128197; <br><input type="text" name="year" /></br></br>
  
    Upload your creation: &#10024;<input type="file" name="file" /><br>
    </br> </br>
    
    <input type="submit" value="Submit" /><br>
    
</form>
</div>
</body>
</html>
{% endblock %}