{% extends "base.html" %} {% block body %}
<html>
<head>
<meta charset="UTF-8"  name="viewport" content="width=device-width, initial-scale=1"> <!--for adding emojis-->
<style>
body {
  background: #ffd1dc;
}

.content {
  max-width: 500px;
  margin: auto;
  background-color: #f1bbc4;
  background-color: #ffe1e6e7; 
  padding: 10px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}

</style>
</head>

<body style="background-color:#b6d7e7;"></br></br></br>
<div class="content">

<form action="{{ url_for ('artworkcreate', id=pk) }}" method="POST" enctype="multipart/form-data">
  <center><h3>Enter your Artwork's Details: </h3></center></br>
    Title: <br><input type="text" name="title" /></br></br>

    <label for="genre">Choose a genre for your artwork: </label>
    <select name="genre">
      {% for g in genrenameslist %}
      <option value="{{g.0}}">{{g.0}}</option>
      {% endfor %}
    </select>
    <br>
    <br>
    Year: <br><input type="text" name="year" /></br>
    <br>
    Upload your creation: <input type="file" name="file" /><br>
    </br> <br>
    
    <center><input type="submit" value="Submit" /></center><br>
    
</form>
</div>
</body>
</html>
{% endblock %}
