<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <body style="background-color:rgb(229, 182, 211);">
        <br><br><br>
        <center><font color="black" face = "Brush Script" size = "7" >Thanks for liking!</font>
        <br><br><br>
        <img src="/static/images/cake.jpg" alt="cake"></center>
        <center><font size = "5" >
        <p>
        <b>{{item.0.2}}</b> wants to appreciate your love for {{item.0.1}}, kindly accept this piece of cake</font>
        <font size="4.5"> <br><br>
            <em>
                {{item.0.2}} has received {{item.0.6}} people's support so far!
            </em>
        </font>
        </p>
        </center>
    </body>
</html>
