{% extends "base.html" %} {% block body %}


<h1>profile</h1>
{{user}}

<a href="{{ url_for ('profileupdate', id=user.0.0) }}" class="btn btn-outline-primary" role="button">Update profile</a>
<a href="#" class="btn btn-outline-danger" role="button" onclick="confirmDel()">Delete account</a>

<table border=1>
    <tr>
        <th> Username </th>
        <td> {{user.0.1}} </td>
    </tr>
    <tr>
        <th> User type </th>
        <td> {{user.0.3}} </td>
    </tr><tr>
        <th> Password:  </th>
        <td><input type="password" value="{{user.0.2}}" id="myInput" disabled><input type="checkbox" onclick="showPwd()">Show Password </td>
    </tr>
</table>

<script>
function showPwd() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

function confirmDel() {
  x=confirm("Are you sure you want to delete account?");
  if (x == true) {
    location.href = "{{ url_for ('profiledelete', id=user.0.0) }}";
  } else {
    location.href = "{{ url_for('profileview', id=pk) }}";
  }
}
</script>
{% endblock %}